
  <div class="max-w-4xl mx-auto">

    <!-- Formulario de búsqueda -->
    <form action="/users" method="GET" class="mb-4 mt-6 flex justify-center">
    <a href="/user" class="bg-green-500 hover:bg-green-600 text-white font-bold rounded-md py-2 px-4 mr-4 ">Agregar Usuario</a>

      <div class="flex items-center">
        <input type="text" name="search" value="{{searchTerm}}" placeholder="Buscar usuarios..." class="bg-white focus:outline-none focus:ring-2 focus:ring-blue-500 border border-gray-300 rounded-md py-2 px-4 mr-2 w-64">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Buscar</button>
        <a href="/users" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md ml-4">Limpiar</a>
      </div>
    </form>
    

    <!-- Tabla de Usuarios -->
    <div class="overflow-x-auto">
      <table class="table-auto w-full border-collapse border border-gray-300 bg-white">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2">Correo Electrónico</th>
            <th class="px-4 py-2">Rol</th>
            <th class="px-4 py-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each usuarios}}
            <tr>
              <td class="border px-4 py-2 text-gray-900">{{this.id}}</td>
              <td class="border px-4 py-2 text-gray-900">{{this.nombre}}</td>
              <td class="border px-4 py-2 text-gray-900">{{this.correo}}</td>
              <td class="border px-4 py-2 text-gray-900">{{this.rol}}</td>
              <td class="border px-4 py-2 flex justify-center">
                 <a class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-2" href="/password/{{this.id}}">Contraseña</a>
                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" href="/edit-user/{{this.id}}">Editar</a>


                <!-- Ejemplo dentro de un bucle en tu tabla de usuarios -->
                <button onclick="openModal({{this.id}})" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Eliminar</button>




              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>



<div id="notificacion" class="fixed bottom-0 right-0 mb-4 mr-4 bg-red-500 text-white py-2 px-4 rounded-md hidden">
    <span class="text-xl inline-block mr-5 align-middle">
      <i class="fas fa-check-circle"></i>
    </span>
    <span class="inline-block align-middle mr-8">
      <b class="capitalize">Usuario eliminado correctamente</b>
    </span>
    <button onclick="closeNotification()" class="text-2xl font-semibold leading-none right-0 top-0 mt-1 mr-4 outline-none focus:outline-none">×</button>
</div>


<!-- Modal de Confirmación -->
<div id="modal" class="fixed inset-0 bg-gray-500 bg-opacity-75 hidden overflow-y-auto h-screen w-full flex items-center justify-center z-50">
  <div class="bg-white rounded-lg p-5 max-w-lg w-full">
    <h2 class="text-lg font-bold text-center text-gray-900">Confirmar Eliminación</h2>
    <p class="text-gray-600 my-4">¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.</p>
    <form id="deleteForm" action="" method="POST" class="text-center">
      <input type="hidden" name="userId" id="userId" value="">
      <button type="button" onclick="confirmDelete()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">
        Eliminar
      </button>
      <button type="button" onclick="closeModal()" class="bg-gray-300 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded">
        Cancelar
      </button>
    </form>
  </div>
</div>

<script>
function openModal(userId) {
  document.getElementById('userId').value = userId; // Configura el ID del usuario en el formulario
  document.getElementById('modal').classList.remove('hidden'); // Muestra el modal
  document.getElementById('deleteForm').action = `/delete/${userId}`; // Configura la acción del formulario
}

function closeModal() {
  document.getElementById('modal').classList.add('hidden'); // Oculta el modal
}

function confirmDelete() {
  const form = document.getElementById('deleteForm');
  form.submit(); // Envía el formulario
  closeModal(); // Cierra el modal inmediatamente después de enviar el formulario
  showNotification(); // Muestra la notificación de éxito
}

function showNotification() {
  const notification = document.getElementById('notificacion');
  notification.classList.remove('hidden'); // Muestra la notificación
  setTimeout(() => {
    closeNotification(); // Oculta la notificación después de 3 segundos
  }, 3000);
}

function closeNotification() {
  const notification = document.getElementById('notificacion');
  notification.classList.add('hidden'); // Oculta la notificación
}
</script>
